<Events>
	<Event>
		<Trigger type="start"/>
		<Eventlet type="focus" targetX="15" targetY="15" debug="m1" />
		<Eventlet type="dialogue" text="hehehehehe" leftPortrait="solomon face left" rightPortrait="solomon face right"/>
	</Event>
  <Event>
		<Trigger type="onenter" rectTop = "1" rectLeft = "1" rectBottom = "2" rectRight = "2"/>
	</Event>
  <Event>
		<Trigger type="onexit" rectTop = "1" rectLeft = "1" rectBottom = "2" rectRight = "2"/>
	</Event>
</Events>
